# macOS
.DS_Store

# STM32CubeIDE workspace
.metadata/

# build
Debug/
Release/

# Eclipse workspace files
.settings/

*.launch
*.cfg
.project
.osx.project

# CMSIS duplicates
* 2.h

# IDE
*.swp
*.bak
